@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer components {
  .btn {
    @apply bg-[#f8f9fa] p-1 h-10 w-40 rounded-md text-gray-700 hover:ring-1 hover:ring-gray-200 focus:outline-none hover:shadow-md
  }
}
